<main class="container">
  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= @inner_content %>
  <hr/>
  Did you like it? Follow me on <a rel="me" href="https://fosstodon.org/@tkowal">Mastodon</a> or <a rel="me" href="https://twitter.com/snajper47">Twitter</a> (for as long as it lasts)
</main>
