<%= raw(color_tags(@tags)) %>

<%= for post <- @posts do %>
  <hr/>
  <div id={post.id} style="margin-bottom: 3rem;">
    <h2><.link href={~p"/posts/#{post}"}><%= post.title %></.link></h2>
    <time><%= post.date %></time> <%= author(post.author) %><br/>
    <%= raw(color_tags(post.tags)) %><br/>
    <%= raw post.description %>
  </div>
<% end %>