<.back navigate={~p"/"}>"← All posts"</.back>

<h1><%= @post.title %></h1>

<p>
  <time><%= @post.date %></time> by <%= @post.author %>
</p>

<p>
  <%= raw(color_tags(@post.tags)) %>
</p>

<%= raw @post.body %>
